
<!-- 1. ask a question
 -->
<div class="container">
  <div class="text">
    <h2>Stupid Coaching</h2>
    <p>Ask your coach anything</p>
  </div>
  <form method="get" action="/answer" >
    <div class="form-group">
      <input class="form-control form-input" type="text" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </form>
</div>




<!-- 2.send the question to answer

3.that answer will have a route
4.that route will then send information to the controller of answer

 -->
